
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background */
}

.sketch {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Ensures the canvas is on a black background */
}
        
