@font-face {
  font-family: 'MontserratExtraLight';
  src: url('./fonts/montserrat/Montserrat-ExtraLight.otf') format('opentype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Optional: matches the FlowField background */
}

.sketch {
  position: relative;
  width: 90vw;
  height: 90vh;
}

.sketch canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-component {
  position: absolute;
  top: 50%;           /* Center vertically */
  left: 50%;          /* Center horizontally */
  transform: translate(-50%, -50%); /* Correct for the element's own dimensions */
  pointer-events: none; /* Prevent interference with the flow field */
  z-index: 1;
}

.title-text {
  font-family: 'MontserratExtraLight', sans-serif;
  font-size: 6rem;    /* Adjust size if needed */
  color: white;
  text-align: center;
}

